h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 2%;
}

footer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 2%;
  background: #27273b;
  color: white;
  width: 100%;
  height: 50px;
}

.menu {
  list-style: none;       /* saca los puntitos */
  margin: 0;
  padding: 0;
  display: flex;          /* esto los pone en horizontal */
  justify-content: center; /* Centra el menú */
  background: #27273b;
}

.menu li {
  margin: 0; /*espacio afuera del elemento*/
  display: block; /*“¿Este elemento ocupa toda la línea? ¿se pone al lado de otros? ¿se organiza en filas?” block: Ocupa todo el ancho disponible*/
  padding: 15px 20px; /*espacio dentro del elemento*/
  text-decoration: none; /* Quita subrayado */
  color: white; /* Color texto */
  font-family: Arial, sans-serif;
  text-decoration: none !important;
}

.imagen-bio {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

header{
  background-color: #27273b;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.menu a {
  display: block;
  padding: 14px 22px;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; 
}

.intro {
  font-family: 'Poppins', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
}

.texto{
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 20px 20px;
}
header{
  /*position:fixed;para hacer el elemento fijo, ej: UADE*/
  width: 100%;
}


.intereses {
  text-align: center;
  padding-bottom: 95px;
}

.intereses h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: black;
}

.cards-interes {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.interes {
  background-color: rgba(137, 130, 130, 0.139);
  width: 250px;
  padding: 25px;
  border-radius: 15px;

}


.interes h2 {
  color: #52b9e3;
}

.card p {
  font-size: 15px;
}

.contacto{
  padding-left: 2%;
}
